VITE_APP_NAME=Duo Translator
VITE_APP_NAME_KEBAB_CASE=duo-translator
VITE_APP_NAME_PASCAL_CASE=DuoTranslator
VITE_GOOGLE_API_KEY=your-google-api-key

VITE_WEBSITE=https://duotranslator.com
VITE_GITHUB_URL=https://github.com/linuxscreen/duo-translator